html, body, form, h1, h2, h3, h4, h5, h6, input, img, select, textarea {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background: url('../images/background.jpg') no-repeat center center fixed;
	background-color: #880000;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222222;
}

.website {
	width: 1200px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

.center {
	width: 1200px;
	margin: 0 auto;
}

#logo {
	float: left;
}

#logo p {
	padding: 0px;
	line-height: 10px;
	font-size: 30px;
	color: #880000;
	margin-left: 20px;
}

footer, .push {
	height: 50px;
}

footer {
	background: #880000;
}

footer p {
	color: #ffffff;
}

.clear {
	clear: both;
}

header {
	height: 75px;
	background: #fdfdff;
}

header nav {
	margin-left: 200px;
}

header nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-left: 30px;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	padding: 0px 15px;
	display: block;
	color: #880000;
	text-decoration: none;
	font-size: 14px;
	line-height: 75px;
}

header nav ul li a.active,
header nav ul li a:hover {
	border-bottom: 2px solid #880000;
	text-decoration: underline;

}

.main {
	overflow: hidden;
	padding: 20px;
}

.main h1 {
	font-size: 26px;
	margin-bottom: 0em;
	font-weight: bold;
	padding-bottom: 10px;
}

#homesearch {
	width: 400px;
	height: 200px;
	background: #fdfdff;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	vertical-align: middle;
}

#homesearch p,
#homesearch h2 {
	color: #222222;
}

#homesearch form label {
	float: left;
}

#homesearch form input {
	width: 200px;
}

form {
	width: 450px;
}

h2 {
	font-weight: normal;
	font-size: 20px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 10px;
	padding-bottom: 5px;
	color: #880000;
}

h3 {
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

input {
	display: block;
	width: 70%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 5px;
	background: #f5f5f5;
}

input[type=submit] {
	background-color: #880000;
	border: 1px solid #880000;
	border-radius: 5px;
	width: 100px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

input[type=checkbox] {
	display: inline;
	width: auto;
}

p {
	font-size: 14px;
}

label {
	color: #999999;
	font-size: 13px;
}

textarea {
	resize: none;
	border-radius: 5px;
	border: 1px solid #cccccc;
	width: 70%;
	height: 70%;
	display: block;
	padding: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f5f5f5;
}

.res {
	float: left;
	margin: 0px 10px 10px 0px;
	width: 17%;
	background-color: #fdfdff;

}

.res h2 {
	text-align: center;
	background-color: #880000;
	border: none;
	margin-top: -7px;
	padding-top: 5px;
	color: #ffffff;
	font-size: 18px;
	margin-bottom: 0px;

}

.res h3 {
	text-align: center;
	border: none;
	color: #ffffff;
	background-color: #484848;
	padding-top: 5px;
	margin-bottom: 0px;
}

.res p {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	height: 90px;
	font-size: 12px;
	line-height: 18px;
	border-left: 1px #D0D0D0 solid;
	border-right: 1px #D0D0D0 solid;
	margin: 0px;
}

.resfoto {
	width: 100%;
}

#restaurants-view {
	overflow: hidden;
}

#info {
	float: left;
	width: 70%;
}

#info img {
	width: 100%;
}

#info h2 {
	background-color: #880000;
	color: #ffffff;
	padding-top: 5px;
	margin-top: -7px;
	padding-left: 5px;
}

#info h3 {
	border: none;
	color: #ffffff;
	background-color: #484848;
	padding-top: 5px;
	padding-left: 5px;
}

div.contain {
	background: #fdfdff;
	padding: 25px;
	box-sizing: border-box;
	border-radius: 5px;
}

.info img {
	width: 100%;
}

.info h2 {
	background-color: #880000;
	color: #ffffff;
	padding-top: 5px;
	margin-top: -7px;
	padding-left: 5px;
}

.info h3 {
	border: none;
	color: #ffffff;
	background-color: #484848;
	padding-top: 5px;
	padding-left: 5px;
}

#rsvblock {
	float: left;
	width: 25%;
	margin-left: 20px;
}

#rsvblock h3 {
	border: none;
	color: #ffffff;
	background-color: #484848;
	padding-top: 5px;
	padding-left: 5px;
}

#rsvblock .btn {
	margin-bottom: 10px;
}

.details img {
	padding-right: 10px;
}

.btn {
	background-color: #880000;
	border: 1px solid #880000;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 15px;

}

.btnmeerinfo {
	background-color: #880000;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 0px;
}

.res .btn {
	margin-top: 5px;
	display: block;
}

.grid-block {
	width: 50px;
	height: 50px;
	background: #DDD;
	float: left;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.grid-block-none {
	width: 50px;
	height: 50px;
	background: #eeeeee;
	float: left;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.grid-block-filled {
	width: 50px;
	height: 50px;
	background: url('/assets/images/table.png');
	float: left;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}

.grid-block:hover {
	background: #bbbbbb;
	cursor: pointer;
}

.grid-block-filled:hover {
	cursor: pointer;
}

#popup_window {
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	display: none;
}

#popup_form {
	background: #ffffff;
	position: absolute;
	width: 600px;
	top: 125px;
	left: 50%;
	margin-left: -300px;
	padding: 20px;
}

#MessageContact {
	display: block;
	width: 70%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 5px;
	height: 200px;
}

section.contain {
	background: #fdfdff;
	padding: 25px;
	box-sizing: border-box;
	border-radius: 5px;
}

.fleft {
	float: left;
}

section.contain p {
	line-height: 25px;
}

div#tables {
	float: left;
	margin-left: 30px;
}

.legend {
	width: 50px;
	margin: 5px;
	position: relative;
}

.legend.block {
	height: 50px;
	background: #DDD;
	float: left;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.legend img {
	float: left;
}

section.contain .text p {
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin-left: 5px;
}

.fotoEdit {
	height: 40%;
	width: 40%;
}

.btnEdit {
	background-color: #880000;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	width: 92px;
	float: left;
	margin-right: 5px;
}

.close {
	float: right;
	margin-right: 10px;
}

h2.title {
	float: left;
}

input[type=button] {
	width: 150px;
}

select {
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 10px;
}

#btnnoggeenacc {
	width: 200;
}

.reserved {
	background: rgba(255, 0, 0, 0.3);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.reservedBackEnd {
	background: rgba(255, 0, 0, 0.3);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.free {
	background: rgba(51, 255, 0, 0.3);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

#table {
	width: 100%;
	border-collapse: collapse;
}

#table td{
	font-size: 1em;
	border: 1px solid #880000;
	padding: 3px 7px 2px 7px;
	background-color: #fdfdff;
	color: #000000;
}

#table th {
	font-size: 1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #880000;
	color: #ffffff;
	padding-left: 7px;
	border: 1px solid #880000;
}

.knop {
	padding-top: 10px;
}

.editkolom {
	width: 50px;
	text-align: center;
}

.deletekolom {
	width: 70px;
	text-align: center;
}

@media screen and (max-width: 768px) {

	.res{
		margin: 5px;
		width: 45%;
	}

	.website{
		width: 100%;
	}

}

@media screen and (max-width: 480px) {
	body{
		overflow: hidden;
		background: #FFFFFF;
	}

	.website{
		width: 100%;
	}

	section.contain{
		border-radius: 0;
		padding: 5px;
	}

    div#tables{
	    float: none;
	    margin-left: 0;
    }

    .legend div.free,
    .legend div.reserved{
	    width: 50px;
	    height: 50px;
    }

    .legend div.free{
	    cursor: default;
    }

    .grid-block-filled,
    .grid-block-none,
    .free,
    .reserved{
	    width: 34px;
	    height: 34px;
    }

    .grid-block-filled{
	    background: url('/assets/images/table34.png');
    }

    .center{
	    width: 100%;
    }

    .main{
	    padding: 0px;
    }

	.fleft{
		float: none;
	}

	#logo{
		float: none;
	}

	header{
		height: auto;
		min-height: 75px;
	}

	header nav{
		margin-left: 0px;
	}

	header nav ul{
		margin-left: 0px;
		text-align: center;
	}

	header nav ul li a{
		color: #222222;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		padding: 6px 10px;
	}

    header nav ul li a:hover,
    header nav ul li a:active{
	    text-decoration: none;
	    border-bottom: 0px;
	    background: #880000;
	    color: #ffffff;
	    border-radius: 5px;
    }

	.res{
		margin: 5px;
		width: 45%;
		height: 340px;
	}

}

@media screen and (max-width: 320px) {
	.grid-block-filled,
	.grid-block-none,
	.free,
	.reserved{
		width: 30px;
		height: 30px;
	}

	.res{
		margin: 5px;
		width: 95%;
		height: auto;
	}

	.grid-block-filled{
		background: url('/assets/images/table30.png');
	}


	.main{
		padding: 0px;
	}
}

a.gerecht {
	text-decoration: none;
	margin-right: 20px;
	color: #222222;
}

a.gerecht:hover {
	color: #880000;
}

.menucontent {
	margin-top: 10px;
}

.toevoegen {
	margin-top: 20px;
}

.success{
	height: 25px;
	background: #00CC00;
	line-height: 25px;
	padding: 5px;
	color: #FFFFFF;
}

.fail{
	height: 25px;
	background: #FF0000;
	line-height: 25px;
	padding: 5px;
	color: #FFFFFF;
}