html,body,form,h1,h2,h3,h4,h5,h6,input,img,select,textarea{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
html {
	width: 100%;
	height: 100%;
}

body {
	background: url('../images/background.jpg') no-repeat center center fixed;
	background-color: #880000;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.website {
	width: 1200px;
	background: #ffffff;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

footer, .push {
	height: 50px;
}

.clear{
	clear: both;
}

header {
	background: #eeeeee;
	height: 275px;
}

header nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	background: #000000;
}

header nav ul li{
	display: inline-block;
}
header nav ul li a{
	line-height: 35px;
	padding: 0px 15px;
	display: block;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

header nav ul li a.active,
header nav ul li a:hover{
	background: #880000;
}
.main{
	overflow: hidden;
	padding: 20px;
}

.main h1 {
	color: #333333;
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 0em;
	text-shadow: 1px 1px 0 #bbbbbb;
	font-weight: bold;
	padding-bottom: 10px;
}

form{
	width: 450px;
}

h2 {
	font-weight: normal;
	font-size: 18px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

h3{
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

input{
	display: block;
	width: 70%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 5px;
}

input[type=submit] {
	background-color: #880000;
	border: 1px solid #880000;
	border-radius: 5px;
	width: 100px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
}

input[type=checkbox] {
	display: inline;
	width: auto;
}

p {
	font-size: 14px;
}

label {
	color: #999999;
	font-size: 13px;
}

.notice{
	height: 25px;
	background: #00CC00;
	line-height: 25px;
	padding: 5px;
	color: #FFFFFF;
}

textarea{
	resize: none;
	border-radius: 5px;
	border: 1px solid #cccccc;
	width: 70%;
	height: 70%;
	display: block;
	padding: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.res{
	border: 1px solid #cccccc;
	border-radius: 5px;
	float: left;
	padding: 5px;
	margin: 0px 10px 10px 0px;
	width: 17%;

}

.res h2{
	color: #FF0000;
	text-align:center;

}

.resfoto{
	width: 100%;
}

#restaurants-view{
	overflow: hidden;
}

.info{
	float: left;
	width: 70%;
}

.details img{
	height: 20%;
	width: 20%;
	float: left;
	padding-right: 10px;
}

.btn{
	background-color: #880000;
	border: 1px solid #880000;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 15px;
}

.res .btn{
	margin-top: 5px;
	display: block;
}

.grid-block{
	width: 50px;
	height: 50px;
	background: #DDD;
	float: left;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.grid-block-none{
	width: 50px;
	height: 50px;
	background: #eeeeee;
	float: left;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.grid-block-filled{
	width: 50px;
	height: 50px;
	background: url('/assets/images/table.png');
	float: left;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}

.grid-block:hover{
	background: #bbbbbb;
	cursor: pointer;
}

.grid-block-filled:hover{
	cursor: pointer;
}

#popup_window{
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	display: none;
}

#popup_form{
	background: #ffffff;
	position: absolute;
	width: 600px;
	top: 125px;
	left: 50%;
	margin-left: -300px;
	padding: 20px;
}

#MessageContact{
	display: block;
	width: 70%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	padding: 5px;
	height:200px;
}

section.tables{
	float: left;
}

aside.tables{
	float: left;
	margin-left: 50px;
	margin-top: 22px;
}

.legend{
	width: 50px;
	margin: 5px;
	position: relative;
}

.legend.block{
	height: 50px;
	background: #DDD;
	float: left;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.legend img{
	float: left;
}

.text{
	width: 200px;
	height: 50px;
	line-height: 50px;
}

.fotoEdit{
	height: 40%;
	width: 40%;
}

.btnEdit{
	background-color: #880000;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	text-decoration: none;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	text-align: center;
	width: 92px;
	float: left;
	margin-right: 5px;
}
.close{
	float: right;
	margin-right: 10px;
}

h2.title{
	float: left;
}

input[type=button]{
	width: 150px;
}

select{
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 10px;
}

#btnnoggeenacc{
	width:200;
}

.reserved{
	background: rgba(255,0,0,0.3);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.free{
	background: rgba(51,255,0,0.3);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
